<!-- <%- include('./partials/header.ejs') %> -->
<h1>Report Morning</h1>

<form method="POST">
    <input type="date" name="date" value="<%= passes ? today : (data?.date ?? today) %>" />
    <input type="number" name="sleepDuration" value="<%= passes ? '' : (data?.sleepDuration ?? '') %>" />
    <input type="number" name="sleepQuality" value="<%= passes ? '' : (data?.sleepQuality ?? '') %>"/>
    <input type="number" name="genericMood" value="<%= passes ? '' : (data?.genericMood ?? '') %>"/>
    <input type="submit" value="Sumbit" />
</form>

<% if (passes) { %>
    <p>Successfully added report</p>
<% } %>

<ul>
<% if (errors) { %>
    <% Object.keys(errors).forEach((key) => { %>
        <% Object.keys(errors[key]).forEach((innerKey) => { %>
            <li><%= `${key} : ${errors[key][innerKey]}` %></li>
        <% }) %>
    <% }) %>
<% } %>
</ul>
<!-- <%- include('./partials/footer.ejs') %> -->