<%- include('./partials/header.ejs') %>
<h1>Report Morning</h1>
<form method="POST">
    <div>
        <label>Date</label>
        <input type="date" name="date" value="<%= passes ? today : (data?.date ?? today) %>" />
    </div>
    <div>
        <label>Time spent on sports and exercise</label>
        <input type="number" name="timeSportsExercise" value="<%= passes ? '' : (data?.timeSportsExercise ?? '') %>" />
    </div>
    <div>
        <label>Time spent on studying</label>
        <input type="number" name="timeStudy" value="<%= passes ? '' : (data?.timeStudy ?? '') %>" />
    </div>
    <div>
        <label>Quality of eating (1-5)</label>
        <input type="number" name="qualityEating" value="<%= passes ? '' : (data?.qualityEating ?? '') %>" />
    </div>
    <div>
        <label>Generic Mood (1-5)</label>
        <input type="number" name="genericMood" value="<%= passes ? '' : (data?.genericMood ?? '') %>" />
    </div>
    <input type="submit" value="Sumbit" />
</form>

<% if (passes) { %>
    <p>Successfully added report</p>
<% } %>

<ul>
<% if (errors) { %>
    <% Object.keys(errors).forEach((key) => { %>
        <% Object.keys(errors[key]).forEach((innerKey) => { %>
            <li><%= `${key} : ${errors[key][innerKey]}` %></li>
        <% }) %>
    <% }) %>
<% } %>
</ul>
<%- include('./partials/footer.ejs') %>