<%- include('./partials/header.ejs') %>
<h1>Report Morning</h1>

<form method="POST">
    <div>
        <label>Date</label>
        <input type="date" name="date" value="<%= passes ? today : (data?.date ?? today) %>" />
    </div>
    <div>
        <label>Sleep duration (in hours)</label>
        <input type="number" name="sleepDuration" value="<%= passes ? '' : (data?.sleepDuration ?? '') %>" />
    </div>
    <div>
        <label>Sleep Quality (1-5)</label>
        <input type="number" name="sleepQuality" value="<%= passes ? '' : (data?.sleepQuality ?? '') %>"/>
    </div>
    <div>
        <label>Generic Mood (1-5)</label>
        <input type="number" name="genericMood" value="<%= passes ? '' : (data?.genericMood ?? '') %>"/>
    </div>
    <input type="submit" value="Sumbit" />
</form>

<% if (passes) { %>
    <p>Successfully added report</p>
<% } %>

<ul>
<% if (errors) { %>
    <% Object.keys(errors).forEach((key) => { %>
        <% Object.keys(errors[key]).forEach((innerKey) => { %>
            <li><%= `${key} : ${errors[key][innerKey]}` %></li>
        <% }) %>
    <% }) %>
<% } %>
</ul>
<%- include('./partials/footer.ejs') %>